# Dependencies
node_modules/

# Build
dist/

# Environment
.env
.env.*
!.env.example

# Logs
*.log
npm-debug.log*

# Editor / OS
.DS_Store
.idea/
.vscode/*
!.vscode/extensions.json

# TypeScript
*.tsbuildinfo

# Next.js
dashboard/.next/
dashboard/out/

# Sanity
sanity/dist/


# Sanity runtime
sanity/.sanity/

